apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
  namespace: applications
  labels:
    app.kubernetes.io/name: my-app
    app.kubernetes.io/version: v0.1.3
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: my-app
  template:
    metadata:
      labels:
        app.kubernetes.io/name: my-app
        app.kubernetes.io/version: v0.1.3
    spec:
      imagePullSecrets:
        - name: ghcr-pull-secret
      containers:
        - name: my-app
          image: ghcr.io/kse-ukhyl-software/my-app:33dd8dd2df9dc70d350dbfcb3b6dde91f73073b1
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 5
            periodSeconds: 5
